#highlight {
    display: none;
}

/*styles for the pre tag*/
#layer {
    font-family: monospace;
    font-size: 12px;
    line-height: 20px;

    border: 1px solid #ccc;
    background: linear-gradient(white, white 19px, #ddd 19px, #ddd 20px);
    background-size: 20px 20px;

    padding: 20px 30px;

    white-space: pre-wrap; /*to wrap words*/
    word-wrap: break-word; /*IE 5.5+*/
}

/*colors*/
.sc {
    color: brown;
}
.keyword {
    color: purple;
    font-weight: bold;
}
.string {
    color: darkgreen;
}
.comment {
    color: green;
    background: lightyellow;
}
.function {
    color: red;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a {
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #352f4b;
    background-color: #ededed;
	transition: all 0.3s ease-in-out;
}

.pagination a:hover {
	background-color: #352f4b;
	color: white;
}

.pagination a.active {
    background-color: #352f4b;
    color: white;
}
